# User and group ID
PUID=
PGID=

# nginx port
PORT=
DOMAIN=name.lan
DOMAIN_PORT=${DOMAIN}:${PORT}
BASE_URL=https://${DOMAIN}:${PORT}

ALLOWED_HOST=${DOMAIN}:${PORT},${DOMAIN},localhost:${PORT},localhost

